/*
body{
    background-image: url("../images/bg1.jpg");
    
}
*/


body{
    background: url("../images/bgcat.jpeg") no-repeat center center fixed;
    background-size: cover;
    
}

div {
    background-color: #27d9e7;
    
}



h1{
    color: white;
    text-align: center;
    
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 300px;
    font-family: 'Arimo', sans-serif;
    font-size: 3em;
    
}